.bungeeregular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.itimregular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

.my-rounded-all{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.my-rounded-left{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.my-rounded-right{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

